ICA_BASE_URL=https://api.nextgen-beta.ica.ibm.com/ica/v1
ICA_API_KEY=your_token_here
MODEL_GENERATOR=gemma-4-26b-a4b-it
MODEL_JUDGE=ibm/granite-4-h-small
MAX_JUDGE_PASSES=3
MAX_CONTEXT_TOKENS=128000
PROJECTS_DIR=./projects
